*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(252, 233, 233);
}

header{

    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 90%;
}

.btn{
color: white;
padding: 15px 30px;
background-color: blue;
border: none;
border-radius: 8px;
}

.btn:hover{
    background-color: rgb(5, 5, 75);
    transition: 1s;
    cursor: pointer;
}

#highlightSection{
    width: 70%;
    margin: 50px auto;
}

#highlightSection >h2{
    font-size: 45px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 25px;
    text-shadow: 2px 2px rgb(243, 180, 180);

}

#highlightSection >p{
    text-align: center;
    width: 50%;
    color: gray;
    margin: 0 auto;
    margin-bottom: 25px;
}

#buy_now_button{
    display: flex;
   justify-content: center;
}
    
#cover-image-section{
 
    width: 70%;
    margin: 0 auto;

}

#cover-image-section img{
    width: 100%;
}